@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

  body {
	background-image: url(https://dbdzm869oupei.cloudfront.net/img/vinylrugs/preview/46933.png);

}




/*  Navbar   */

 nav {
  height: 80px;
  background-color: rgb(58, 114, 192);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: px;
  z-index: 1000;
 }

nav img {
	margin-left: 10px;
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

nav .navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .navigation li a {
	text-decoration: none;
	margin-left: 30px;
	font-size: 35px;
	color: white;
	
}

nav .navigation li {
	list-style-type: none;
	margin-right: 20px;
	
}




/*  SlideShow Apresentação */

	.Banner {
		min-height: 100vh;
		overflow: hidden;
	}



 .slider {
 	width: 400vw;
 	display: flex;
 	transition: all 0.7s ease-in-out;

 }

	.conteudoslider {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
 }


 .conteudoslider .Sbg{
 	width: 100vw;
 	height: 100vh;
 	
 }


.Slogo{
	position: absolute;
	width: 40%;
}





 /*  Botão   */

.botao {
	
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.botao div {
	border-radius: 40px;
	display: flex;
	height: 80px;
	width: 300px;
	background-color: #0000008c;
	margin: 0 30px;
	align-items: center;
	font-size: 32px;
	user-select: none;
    cursor: pointer;
	color:#d0d672d9;
	padding: 37px;
	filter: blur(0.7px);
}

.botao div:hover {
	background-color: #0b0b23;
	filter: blur(0px);
}




/* Slideshow Grupos  */

.imge img {
	margin-top: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom: 20px;
 }

 .imge img:hover {
 	width: 900px;
 }





/*  Texto   */

 .texto {
 	color: white;
 	margin-bottom: 30px;
 
 }

 .texto h1 {
 	font-size: 80px;

	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  margin-bottom: 20px;
 }

 .texto p {
 	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
 }





 /*  Apoiadores   */

 .leadlogo2 {
	width: 120px;
}

 .alura2 {
	 width: 80px;
 }

 .luiza2 {
	 width: 130px;
}

.instagram2 {
	width: 200px;
}

.conatainer {
	position: relative;
	width: 1350px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;

}

.conatainer .servicebox {
	position: relative;
	width: 350px;
	height: 280px;
	background: #ffffff;
	border-radius: 20px;
	overflow: hidden;
}

.conatainer .servicebox .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0b0b23;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.conatainer .servicebox:hover .icon {
	top: 30px;
	left: calc(50% - 70px);
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.conatainer .servicebox .content {
	position: relative;
	padding: 45px;
	text-align: center;
	margin-top: 150px;
	z-index: 1;
}

  /* RODAPE */

 footer {
 	font-family: 'Poppins', sans-serif;
 	background-color: black;
 	height: 230px;
	display: flex;
	align-items: center;
	justify-content: space-between;
 }

 .rodape {
	 margin-left: 50px;
	 display: flex;
	 flex-direction: column;
	 /*animation: animation 2s;*/
 }


 footer p {
	color: aliceblue;
	margin-top: 10px;
	margin-bottom: 5px;
}

 footer li {
	 margin-top: 10px;
	 display: flex;
	 flex-direction: column;
 }

 footer a {
	  color: aliceblue;
	  margin-bottom: 2px;
  }

  @keyframes animation {

	from {
		transform: translateY(20vw);
	}

	to {
		transform: translateY();
	}
  }


 .aluradiv {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
 }

 .leadlogo {
	width: 150px;
	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 20px;
}

.atheneulogo {
	background-color: rgba(255, 255, 255, 0.13);
	padding: 10px;
	width: 200px;
	margin-right: 20px;
	border-radius: 3px;
}

 .alura {
	 width: 80px;
	 animation: animation 2s;
	 margin-right: 20px;
 }

 .luiza {
	 width: 130px;
 }

 /*FIM DO RODAPE*/
