@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

  nav {
  	height: 80px;
  	background-color: rgb(117, 152, 201);
  	width: 100%;
  	display: flex;
  	justify-content: space-between;
  }


nav img {
	margin-left: 10px;
	height: 75px;
	width: 75px;
}

nav .navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .navigation li {
	text-decoration: none;
	margin-left: 10px;
}


body {
	font-family: 'Poppins', sans-serif;
	background:  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOe-PVhnf6GTmtsYtX5AtHMNQyg_rychaTlA&usqp=CAU);
}

.logo {
	border-radius: 50%;
}

.Paralax {
	display: flex;
	background: url(https://img.elo7.com.br/product/main/34AB5D7/papel-de-parede-adesivo-espaco-plantetas-desenhos-marinheiro.jpg);
	height: 85vh;
  align-items: center;
  vertical-align: center;
  width: 100%;


}

.Paralax h1 {
	color:  white;
	font-size: 100px;
	padding-left: 35%;
}

.botao {
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.botao div {
	border-radius: 40px;
	display: flex;
	height: 80px;
	width: 300px;
	background-color: white;
	margin: 0 30px;
	align-items: center;
	font-size: 35px;
	color: blue;
	padding: 10px;
}

.botao div:hover {
	background-color: rgb(83, 134, 168);
}

.imge img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom: 20px;
 }

 .imge img:hover {
 	width: 900px;
 }

 .texto {
 	color: white;
 
 }

 .texto h1 {
 	font-size: 80px;

	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
 }

 .texto p {
 	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
 }

      /* RODAPE */

 footer {
 	background-color: black;
 	height: 230px;
	display: flex;
	align-items: center;
 }

 .rodape {
	 margin-left: 120px;
	 display: flex;
	 flex-direction: column;
	 /*animation: animation 2s;*/
 }


 p {
	color: aliceblue;
	margin-top: 10px;
	margin-bottom: 5px;
}

 li {
	 margin-top: 10px;
	 display: flex;
	 flex-direction: column;
 }

  a {
	  color: aliceblue;
	  margin-bottom: 2px;
  }

  @keyframes animation {

	from {
		transform: translateY(20vw);
	}

	to {
		transform: translateY();
	}
  }


 .aluradiv {
	 display: flex;
	 align-items: center;
	 margin-left: 55vw;
	 /*animation: animation 2s;*/
 }

 .leadlogo {
	width: 150px;
	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 20px;
}

 .alura {
	 width: 80px;
	 /*animation: animation 2s;*/
 }

 .luiza {
	 width: 130px;
	 margin-left: 10px;
	 /*animation: animation 2.5s;*/
 }

 /*FIM DO RODAPE*/